{% extends 'base.html.twig' %}

{% block title %}Hello AdvertController!{% endblock %}

{% block content %}
    <article id="advertS">
        <div class="wrapper">
            <h2 class="title_h2">Déposer votre annonce</h2>
            {{form(form)}}
        </div>
    </article>
{% endblock %}
