{% extends 'base.html.twig' %}

{% block title %} Edit page {% endblock %}
{% block content %} 

    <article id="advertS">
        <div class="wrapper">
            <h2 class="title_h2">Modifier votre annonce</h2>
            {{form(form)}}
        </div>
    </article>

{% endblock %}