{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block content %}

    <article class="signin">
        <div class="wrapper">
            sign up 
        </div>
    </article>
{% endblock %}
